*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*mel*/

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(images/stacked-waves-haikei.png);
    width:95%;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 35px;
}
.hdr1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 30px;
    font-stretch: ultra-condensed; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hdr2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}
.hdr3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
nav li{
    list-style-type: none;
    float: left;


}
nav li a{
    text-decoration: none;
    display: block;
    color: black;
    padding: 30px;
    padding-left: 70px;
    padding-right: 100px;

}

/* gallery */
#cats{
    width: 100%;
    padding: 60px 0;
    background: #efefef;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius:35px;
}
.title-text h1{
    font-size: 30px;
}
.cats-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    
}
.cats-box .card{
    width: 93%;
    background-color: #fff;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 #68dbd0;
    
}
.cats-bio{
    flex-basis:38%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
}
.cats-bio img{
    width:100%;
    border-radius: 15px;
}
.cats-desc{
    width: 100%;
    height: 80%;
    position: absolute;
    bottom:0;
    border-radius: 15px;
    left: 50%;
    opacity: 0;
    cursor: pointer;
    transform: translateX(-50%);
    transition: 1s;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.cats-desc p{
    font-size: 14px;
}
.cats-bio:hover .cats-desc{
 bottom: 20%;
 opacity: 1;
}
footer{
    position: relative;
    width: 100%;
    background: #009688;
    min-height: 100px;
    margin-top: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icon,
footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li{
    list-style: none;
}
footer .social_icon li a
{
    font-size: 2em;
    color:#fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover
{
    transform: translateY(-10px)
}
footer .menu li a{
    font-size: 2em;
    color:#fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover{
    opacity: 1;
}
footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
footer .wave{
position: absolute;
top: -100px;
left: 0;
width: 100%;
height:100px;
background: url(/images/stacked-waves2-haikei.png);
background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: index 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
    z-index: index 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x:0px;
    }
}
@keyframes animateWave_02
{
    0%
    {
        background-position-x:0px;
    }
    100%
    {
        background-position-x:1000px;
    }
}